<div class="about-container">
    <h2>About Him</h2>
    <div class="flex-about">
        <div class="about-text">
            <p>
                He is currently a master’s course student at the Mathematical Informatics Laboratory at NAIST (Nara Institute of Science and Technology). He has a broad interest in various technologies, with a particular focus on mathematics and machine learning. His research area involves developing efficient Bayesian optimization algorithms from several aspects, with future publications forthcoming. Additionally, he is interested in reinforcement learning for smart sequential decision-making.
            </p>
            <p>
                For more detailed information, please refer to his <a href="https://docs.google.com/document/d/1cO53jIaXZbCjYGXkUaxPqLSe4Lnzw_GitfkpFtqDkk4/edit?usp=sharing" class="cta-text">resume</a>.
            </p>
            <p>
                In his free time, he enjoys taking walks and exploring delicious food. His favorite foods are refined white rice and Schwarzbrot.
            </p>
        </div>
        <div class="about-img">
            <Image src='{{ site.pathPrefix }}assets/about.jpeg' class="profile-img" alt="" />
        </div>
    </div>
</div>