<div class="career-container">
    <h2>Career</h2>
    <div class="education-section">
        <h3>Education</h3>
        <div class="education-item">
            <h4>Nara Institute of Science and Technology</h4>
            <p>Master's course student at the Mathematical Informatics Laboratory</p>
            <p>2024 - Present</p>
        </div>
        <div class="education-item">
                <h4>The Open University</h4>
                <p>BSc Mathematics (Honours)</p>
                <p>2020 - 2023</p>
        </div>
    </div>
    <div class="experience-section">
        <h3>Experience</h3>
        <div class="experience-item">
            <h4>Graduate School of Medicine, Kyoto University</h4>
            <p>Research Assistant</p>
            <ul>
                <li>- Research on the construction of a framework for building and evaluating prediction models with logical constraints for the utilization of reliable machine learning models</li>
                <li>- Research on constrained and discrete Bayesian optimization</li>
            </ul>
            <p>2023 - Present</p>
        </div>
        <div class="experience-item">
            <h4>ScrumSign, Inc</h4>
            <p>Data Scientist Intern and Part-time</p>
            <ul>
                <li>- Optimization of test thresholds to streamline medical examinations</li>
                <li>- Assistant in managing a learning community for mathematics and machine learning theory</li>
                <li>- Other responsibilities</li>
            </ul>
            <p>2022 - Present</p>
        </div>
    </div>
</div>