<div class="hero-container">
    <img src='{{ site.pathPrefix }}assets/profile.jpeg' class="profile-img" alt="Joe's personal headshot" />
    <div class="hero-text">
        <h1>Keisuke Onoue</h1>
        <p id="typing-text-1">
            Developing a Standard Machine for Black-Box Optimization
        </p>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        function typeWriter(element, text, delay = 100) {
            let i = 0;
            function type() {
                if (i < text.length) {
                    element.innerHTML += text.charAt(i);
                    i++;
                    setTimeout(type, delay);
                } else {
                    element.classList.remove('typing');
                }
            }
            element.classList.add('typing');
            type();
        }

        const typingText1 = document.getElementById('typing-text-1');

        // テキストを空にして、タイピングアニメーションを適用
        const text1 = typingText1.textContent;
        typingText1.textContent = '';

        // 1つ目のテキストをタイピングアニメーションで表示
        typeWriter(typingText1, text1, 100);
    });
</script>
