<div class="hero-container">
    <img src='assets/profile.jpeg' class="profile-img" alt="Joe's personal headshot" />
    <div class="hero-text">
        <h1>Keisuke Onoue</h1>
        <p>
            He is currently a master's course student of the Mathematical Informatics Laboratory at NAIST. 
        </p>
        <p>
            He would be a Standard Machine in your team for handling any issues.
        </p>
    </div>
</div>