<div class="skills-container">
    <h2>Skills</h2>
    <div class="grid-skills">
        <div class="skill-card python">
            <i class="fa-brands fa-python python-icon"></i>
            <p>Python</p>
        </div>
        <div class="skill-card js">
            <i class="fa-brands fa-js-square js-icon"></i>
            <p>JavaScript</p>
        </div>
        <div class="skill-card vue">
            <i class="fa-brands fa-vuejs vuejs-icon"></i>
            <p>Vue</p>
        </div>
        <div class="skill-card html">
            <i class="fa-brands fa-html5 html-icon"></i>
            <p>HTML</p>
        </div>
        <div class="skill-card css">
            <i class="fa-brands fa-css3-alt css-icon"></i>
            <p>CSS</p>
        </div>
        <div class="skill-card scss">
            <i class="fa-brands fa-sass scss-icon"></i>
            <p>SCSS</p>
        </div>
        <div class="skill-card scss">
            <p>LaTeX</p>
        </div>
    </div>
</div>