.posts-container {
    padding: 6rem 0;
    border-style: solid;
    border-color: #000000;
    margin: 10px 0;
    padding: 1rem; /* 上下左右にパディングを追加 */
}

.posts-container h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5rem;
}

.post-header h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.post-header p {
    font-size: 1rem;
    margin: 0;
}


.posts-list {
    display: flex;
    flex-direction: column; /* カードを縦に並べる */
    gap: 2rem;
    padding: 0 1rem; /* 左右にパディングを追加 */
}

.post-card {
    background-color: rgba(255, 255, 255, 0.2);
    color: #1D1E20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 0px;
    border: 1px solid #000000; /* 黒のボーダーを追加 */
    box-shadow: none; /* シャドウを削除 */
    transition: all 0.5s ease-in-out;
    cursor: context-menu;
}

.post-card h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.post-card p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

a.cta-text {
    position: relative;
    color: #1D1E20; /* リンクの色を指定 */
    text-decoration: none;
}

a.cta-text::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px; /* 下線の太さを指定 */
    background-color: #FFCC1A; /* 下線の色を指定 */
    left: 0;
    bottom: 0px; /* テキストの下に配置 */
}

a.cta-text:hover {
    background-color: #DADADB;
}

/* レスポンシブスタイル */
@media screen and (max-width: 768px) {
    .posts-container {
        padding: 1rem;
    }

    .posts-container h2 {
        font-size: 1.8rem;
    }

    .post-card h3 {
        font-size: 1.4rem;
    }

    .post-card p {
        font-size: 0.9rem;
    }
}