.footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 5px;
    left: 0;
    z-index: 1000;
}

.footer-container {
    max-width: 1000px; /* 最大幅を設定 */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5); /* 半透明の白 */
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); /* 影を追加して浮いている感じ */
    /* border-radius: 10px 10px 0 0;  */
    border-radius: 10px;
}

.footer-container p {
    font-size: 0.8rem;
    color: #000000;
}

.footer-container .social_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 1rem;
}

.footer-container .social_icons a {
    color: #000000;
    font-size: 1.5rem;
    transition: all 0.5s ease-in-out;
}

.footer-container .social_icons a:hover {
    color: #DADADB;
}

/* レスポンシブスタイル */
@media screen and (max-width: 768px) {
    .footer-container {
        padding: 0.5rem;
        max-width: 100%;
        border-radius: 0;
    }
    
    .footer-wrapper {
        bottom: 0;
    }
}