.skills-container {
    padding: 6rem 0;
    border-style: solid;
    border-color: #000000;
    margin: 10px 0;
    padding: 1rem; /* 上下左右にパディングを追加 */
}

.skills-container h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.skills-container .grid-skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem 2rem;
    padding: 0 1rem; /* 左右にパディングを追加 */
}

@media screen and (max-width: 768px) {
    .skills-container .grid-skills {
        grid-template-columns: repeat(2, 1fr);
    }
}

.skills-container .grid-skills .skill-card {
    background-color: rgba(255, 255, 255, 0.2);
    color: #1D1E20;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1rem;
    padding: 0.5rem;
    border-radius: 0px;
    border: 1px solid #000000; /* 黒のボーダーを追加 */
    box-shadow: none; /* シャドウを削除 */
    transition: all 0.5s ease-in-out;
    cursor: context-menu;
}

.skills-container .grid-skills i {
    font-size: 1.5rem;
}